
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    @ViewBag.Greeting world (from the view)
    <p>We're going to have and exciting party.<br/>
        (To do: sell it better. Add picture or something.)
    </p>
    @Html.ActionLink("RSVP Now", "RsvpForm");
</div>
</body>
</html>
